[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-wtf = "*"
flask-login = "*"
flask-bootstrap = "*"
flask-ckeditor = "*"
flask-debugtoolbar = "*"
flask-migrate = "*"
email-validator = "*"
python-dotenv = "*"
flask-uploads = "*"

[dev-packages]

[requires]
python_version = "3.8"
