<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>梦想工作站</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../static/css/candidate_base_style.css">
  <link rel="stylesheet" href="../../static/css/candidate_base_style.css">

</head>
<body>
<!-- partial:index.partial.html -->

    <!-- <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> -->
<div class="app-container">
  <div class="app-header">
    <div class="app-header-left">
      <span class="app-icon"></span>
      <a href="/companymanager/company-profile">
      <p class="app-name">{{cmname}}</p>
    </a>
    </div>
    <div class="app-header-right">
      <!-- <button class="mode-switch" title="Switch Theme">
        <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
          <defs></defs>
          <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
        </svg>
      </button> -->
      <a href="/companymanager/add-project" class="add-btn" title="Add New Project">
        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
          <line x1="12" y1="5" x2="12" y2="19" />
          <line x1="5" y1="12" x2="19" y2="12" /></svg>
      </a>
      <!-- <button class="notification-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
          <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9" />
          <path d="M13.73 21a2 2 0 0 1-3.46 0" /></svg>
      </button> -->
      <!-- <button class="profile-btn">
      <img src="data:;base64,{{ img}}" />
      <span>{{name}}</span>
    </button> -->
    <a href="/companymanager/profile" class="profile-btn">
      <img src="data:;base64,{{ img}}" />
      <span>{{name}}</span>
    </a>
</div>
    <button class="messages-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle">
        <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" /></svg>
    </button>
  </div>
  <div class="app-content">

    <div class="projects-section">
      <div class="projects-section-header">
        <p>项目信息</p>
        <!-- 这里需要替换成当天的时间。 -->
        <p class="time">{{time}}</p>
      </div>
      <div class="projects-section-line">
        <div class="projects-status">
          <div class="item-status">
            <span class="status-number">{{nowa}}</span>
            <span class="status-type">已开工项目</span>
          </div>
          <div class="item-status">
            <span class="status-number">{{future}}</span>
            <span class="status-type">未开工项目</span>
          </div> 
          <!-- <div class="item-status">
            <span class="status-number">{{offer_num}}</span>
            <span class="status-type">收到聘书</span>
          </div> -->
        </div>
        <div class="view-actions">
          <button class="view-btn list-view" title="List View">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
              <line x1="8" y1="6" x2="21" y2="6" />
              <line x1="8" y1="12" x2="21" y2="12" />
              <line x1="8" y1="18" x2="21" y2="18" />
              <line x1="3" y1="6" x2="3.01" y2="6" />
              <line x1="3" y1="12" x2="3.01" y2="12" />
              <line x1="3" y1="18" x2="3.01" y2="18" /></svg>
          </button>
          <button class="view-btn grid-view active" title="Grid View">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
              <rect x="3" y="3" width="7" height="7" />
              <rect x="14" y="3" width="7" height="7" />
              <rect x="14" y="14" width="7" height="7" />
              <rect x="3" y="14" width="7" height="7" /></svg>
          </button>
        </div>
      </div>
      <div class="project-boxes jsGridView">
          {% for item in projects %}
          <div class="project-box-wrapper">
            <div class="project-box" style="background-color: {{item.thin}};">
              <div class="project-box-header">
                  <!-- 这个时间需要替换成工程持续的时间。 -->
                <span>{{item.begin}}~{{item.end}}</span>
                <div class="more-wrapper">
                    <!-- 这个button点击一下可以去更详情的信息。 -->
                  <a href="/companymanager/project-profile/{{item.PID}}" class="project-btn-more">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                      <circle cx="12" cy="12" r="1" />
                      <circle cx="12" cy="5" r="1" />
                      <circle cx="12" cy="19" r="1" /></svg>
                  </a>
            </div>
          </div>
          <div class="project-box-content-header">
              <!-- 这里替换成项目名称和项目内容 -->
            <p class="box-content-header">{{item.name}}</p>
            <!-- <p class="box-content-subheader">{{item.proj_name}}</p> -->
          </div>
          <div class="box-progress-wrapper">
              <!-- 这里就写一下详情信息比较好 -->
            <p class="box-progress-header">项目进度</p>
            <div class="box-progress-bar">
              <span class="box-progress" style="width: {{item.progress_str}}; background-color: {{item.thick}}"></span>
            </div>
            <p class="box-progress-percentage">{{item.progress_str}}</p>
          </div>
          <div class="project-box-footer">
            <div class="participants">
                <!-- img这边就去掉。没有用。 -->
              <img src="data:;base64,{{item.proj_port}}" alt="participant">
              <!-- <img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG1hbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="participant"> -->
              <a href="/companymanager/delete-project/{{item.PID}}" class="add-participant" style="color: {{item.thick}};">
                <svg t="1648263772785" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8407" width="200" height="200"><path d="M658.276045 767.993958 658.276045 274.295l329.126 0L987.402045 219.44 658.276 219.44l0-18.281c0-80.787046-65.492992-146.284032-146.276045-146.284032-80.790016 0-146.276045 65.496986-146.276045 146.284032l0 18.281L36.597 219.44l0 54.855 109.695 0 0 694.83L877.7 969.125l0-548.55-54.855 0L822.845 914.27l-621.69 0L201.155 274.295l164.569 0 0 493.699 54.848 0L420.572 274.295l182.85 0 0 493.699L658.276 767.994zM420.571034 219.440026l0-18.281c0-50.492006 40.932966-91.420979 91.428966-91.420979 50.489037 0 91.420979 40.928973 91.420979 91.420979l0 18.281L420.571 219.440026z" p-id="8408"></path></svg>
              </a>
            </div>
            <div class="days-left" style="color: {{item.thick}};">
              剩余{{item.Jddl}}天
            </div>
          </div>
        </div>
      </div>
            {% endfor %}
  </div>
</div>

</div>
</div>

<!-- partial -->
<script src="../static/js/candidate_base_script.js"></script>
<script src="../../static/js/candidate_base_script.js"></script>
</body>
</html>
